APP_NAME="FTURI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://192.168.3.
ASSET_URL=http://192.168.3.
LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug




DB_CONNECTION=pgsql
DB_HOST=192.168.3.
DB_PORT=5433
DB_DATABASE=fturi
DB_USERNAME=dba_fturi
DB_PASSWORD=C3?~m&z9!K5*7+8

# Conexión secundaria (MySQL) Anticipos
DB_SECONDARY_HOST=192.168.3.210
DB_SECONDARY_PORT=3306
DB_SECONDARY_DATABASE=contabilidad
DB_SECONDARY_USERNAME=cartelera
DB_SECONDARY_PASSWORD=cartelera


LARAVEL_WEBSOCKETS_PORT=6001
BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

MEMCACHED_HOST=127.0.0.1
LARAVEL_ECHO_PORT=6001

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PUSHER_APP_ID=12345
PUSHER_APP_KEY=12345
PUSHER_APP_SECRET=12345
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST='192.168.3.216'
PUSHER_PORT=6001

VITE_PUSHER_APP_KEY=12345
VITE_PUSHER_HOST='192.168.3.216'
VITE_PUSHER_PORT=6001
VITE_PUSHER_SCHEME=http
VITE_PUSHER_APP_CLUSTER=mt1


MAIL_MAILER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=dte@tropico-inn.com
MAIL_PASSWORD=_Y%p_={a+o%4
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=dte@tropico-inn.com
MAIL_FROM_NAME="TURISTICAS DE ORIENTE S.A. DE S.V."

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false



iva=0.13
cesc=0.05
advalorem=0.08
percepcion=0.01
propina=0.10
renta=0.10
monto_comprobante=250
aplicar_retencion=100
monto_efectivo=10000
monto_banco=25000

logo='images/logo.jpg'
logo_lg='images/logo-lg.png'

#Facturacion electronica datos de emisor
empresa="TURISTICAS DE ORIENTE S.A. DE C.V."
nit="12170509850014"
nrc="90670"
nit_format="1217-050985-001-4"
nrc_format="9067-0"

telefono="26821000"
ambiente="01"
ambiente_mh="AMBIENTE DE PRODUCCION" 
HOST_FIRMADOR="http://192.168.3.216:8113"
PASSWORD_PRIV="1;)A*cSHhVb-)KñB"

responsable="ALVARO ANDRES ORELLANA"
tipo_doc_responsable="13"
doc_responsable="039985774"

NOMBRE_CONTADOR="LICDA. MARIA GUADALUPE GUTIERREZ LAZO"

HOST_API= "https://api.dtes.mh.gob.sv"
PASSWORD_API="DvL%D9Yt8*$TR0P"

#Cambio de estado para check in en habitaciones
estado_entrada=1404
#Cambio de estado para check out en habitaciones
estado_salida=1402

#Hora antes para abrir turno
hora_turno=1

#Id de cajas y sucursales en base de datos
caja_recepcion=1
sucursal_recepcion=1
caja_tropiclub=2
sucursal_tropiclub=2

#Hora desde la que se iniciara a tomar en cuenta las recepciones para la caja recepcion.
hora_recepciones='17:00:00'
MAIL_HOSPEDAJE="soporte@tropicoinn.com.sv"
TELEGRAM_BOT_TOKEN="6508690767:AAGbMvlHfvvjqyftBYudYd4dyaWSQoDRFNE"
CONCEPTO_NOGRAVADAS="SERVICIO"
disable_facturacion=false


#telegram habitaciones
tgtropico="-1002400873703"
tgtropiclub="-1002354800446"